<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
    <location path="Forgot.aspx">
    <system.web>
      <authorization>
        <deny users="Memeber"/>
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <deny users="Member"/>
      </authorization>
    </system.web>
  </location>
  

</configuration>
